@model TicketingSystem.RazorWebsite.Models.Tickets.TicketDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Ticket.Title</h1>

<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>TicketNummer</p></div>
    <div class="col-lg-9"><p>@Model.Ticket.Id</p></div>
</div>
<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>Type</p></div>
    <div class="col-lg-9"><p>@Model.Ticket.Type</p></div>
</div>
<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>Status</p></div>
    <div class="col-lg-9"><p>@Model.Ticket.Status</p></div>
</div>
@if (User.IsInRole("SupportManager"))
{
    <div class="row">
        <div class="col-lg-3 font-weight-bold"><p>Klant</p></div>
        <div class="col-lg-9"><p>@Model.Ticket.Client</p></div>
    </div>
}
<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>Creatiedatum</p></div>
    <div class="col-lg-9"><p>@Model.Ticket.DateAdded</p></div>
</div>
<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>Omschrijving</p></div>
    <div class="col-lg-9"><p>@Model.Ticket.Description</p></div>
</div>


    @foreach (var attachment in Model.Ticket.Attachments)
    {
<div class="row">
    <div class="col-lg-3 font-weight-bold"><p>attachment</p></div>
    <div class="col-lg-9">
        <a  asp-controller="Ticket" asp-action="DownloadAttachment" asp-route-attachmentId="@attachment.Id">
            @attachment.Name
        </a>
    </div>
</div>
    }


<div class="row">
    <div class="col-12">
        <p>
            <a asp-area="" asp-controller="/Ticket" asp-action="Update" asp-route-id="@Model.Ticket.Id">
                <button class="btn btn-primary"
                        @if (Model.Ticket.Status == "Geannuleerd" || Model.Ticket.Status == "Afgesloten") { @: disabled="disabled"
                        }>
                    Ticket aanpassen
                </button>
            </a>
            <form asp-action="Cancel" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id" asp-route-returnUrl="@(Url.Action("Details", "Ticket", new { id = @Model.Ticket.Id }))">
                @Html.HiddenFor(x => x.Ticket.Id)
                @Html.HiddenFor(x => x.Ticket.Title)
                @Html.HiddenFor(x => x.Ticket.Type)
                @Html.HiddenFor(x => x.Ticket.Status)
                @Html.HiddenFor(x => x.Ticket.Client)
                @Html.HiddenFor(x => x.Ticket.DateAdded)
                @Html.HiddenFor(x => x.Ticket.Description)
                @Html.HiddenFor(x => x.Ticket.Comments)

                <input type="submit" class="btn btn-danger" value="Ticket annuleren"
                       @if (Model.Ticket.Status == "Geannuleerd" || Model.Ticket.Status == "Afgesloten") { @: disabled="disabled"
                       } />
            </form>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
    </div>
</div>
<div class="row">
    <div class="col-12"><h2>Commentaar</h2></div>
</div>

<div class="row">
    <div class="col-12">
        <form asp-action="PostComment" asp-controller="Ticket" asp-route-id="@Model.Ticket.Id">
            <div class="form-group">
                <label asp-for="Input.Comment">Nieuwe opmerking</label>
                <textarea asp-for="Input.Comment" class="form-control" rows="3">
                          @if (Model.Ticket.Status == "Geannuleerd" || Model.Ticket.Status == "Afgesloten") { @: disabled="disabled"
                          }>
                </textarea>
                <p><span asp-validation-for="Input.Comment" class="text-danger"></span></p>
            </div>
            @if (ViewData.ModelState["ValidationError"]?.Errors.Count() > 0)
             {
                <div class="alert alert-danger" role="alert">
                    @Html.ValidationMessage("ValidationError")
                </div>
             }
            <input type="submit" value="verzend" class="btn btn-primary float-right mb-3"
                   @if (Model.Ticket.Status == "Geannuleerd" || Model.Ticket.Status == "Afgesloten") { @: disabled="disabled"
                   }>
        </form>
    </div>
    <div class="col-12">
        @if (Model.Ticket.Comments.Count > 0)
        {
            @foreach (Comment comment in Model.Ticket.Comments)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="card-text">@comment.Text</p>
                        <p class="card-text text-sm-right"><small class="text-muted"> @comment.CreatedBy - @comment.DateAdded</small></p>
                    </div>
                </div>} }
        else
        {
            <p>Er is geen commentaar op dit ticket.</p>}
    </div>
</div>
