@model TicketingSystem.RazorWebsite.Models.Contracts.ContractIndexViewModel
@{
    ViewData["Title"] = "Contracten";
}

<h2>Contracten</h2>
<h6>Status</h6>
<form asp-action="Index">
    <p>
        <input asp-for="FilterInput.FilterStatusPending"/>
        <label asp-for="FilterInput.FilterStatusPending"></label>
        <input asp-for="FilterInput.FilterStatusActive"/>
        <label asp-for="FilterInput.FilterStatusActive"></label>
        <input asp-for="FilterInput.FilterStatusClosed"/>
        <label asp-for="FilterInput.FilterStatusClosed"></label>
        <input type="submit" value="Filter toepassen" class="btn btn-primary" />
    </p>
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Type</th>
            <th scope="col">Startdatum</th>
            <th scope="col">Einddatum</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Contracts.Count > 0)
        {
            @foreach (var contract in Model.Contracts)
            {
            <tr class="pointer-event" onclick="location.href = '@(Url.Action("Details", "Contract", new { id = @contract.Id }))'" style="cursor:pointer">
                <th scope="row">@contract.Id</th>
                <td>@contract.Type</td>
                <td>@contract.ValidFrom.ToString("dd/MM/yyyy")</td>
                <td>@contract.ValidTo.ToString("dd/MM/yyyy")</td>
                <td style="color:@contract.StatusColor">@contract.Status</td>
            </tr>
            }
        }
        else
        {
            <tr><td colspan="5">Er zijn geen contracten.</td></tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <a asp-controller="Contract" asp-action="Create">Nieuw contract aanvragen</a>
            </td>
        </tr>
    </tfoot>
</table>
