@model TicketingSystem.RazorWebsite.Models.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<h1></h1>

<div class="container">
    <div class="row">
        <div class="col-lg">
            <a asp-controller="Ticket" asp-action="Index" asp-route-statusFilter="Aangemaakt,InBehandeling" class="title-subtitle-link">
                <h2>
                    Openstaande tickets
                    <span>Alle tickets</span>
                </h2>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.OpenTickets.Count > 0)
                    {
                        @foreach (var ticket in Model.OpenTickets)
                        {
                    <tr class="pointer-event" onclick="location.href = '@(Url.Action("Details", "Ticket", new { id = ticket.Id }))'" style="cursor:pointer">
                        <th scope="row">@ticket.Id</th>
                        <td>@ticket.Title</td>
                        <td style="color:@ticket.StatusColor">@ticket.Status</td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="3">Er zijn geen open tickets...</td></tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3"><a asp-controller="Ticket" asp-action="CreateTicket">Nieuw ticket</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-lg">
            <a asp-controller="Ticket" asp-action="Index" asp-route-statusFilter="Afgehandeld,Geannuleerd" class="title-subtitle-link">
                <h2>
                    Afgesloten tickets
                    <span>Alle tickets</span>
                </h2>
            </a>
            <table class="table table-hover">
                <tbody>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Titel</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                @if (Model.ClosedTickets.Count > 0)
                {
                    @foreach (var ticket in Model.ClosedTickets)
                    {
            <tr class="pointer-event" onclick="location.href = '@(Url.Action("Details", "Ticket", new { id = ticket.Id }))'" style="cursor:pointer">
                <th scope="row">@ticket.Id</th>
                <td>@ticket.Title</td>
                <td style="color:@ticket.StatusColor">@ticket.Status</td>
            </tr>
                    }
                }
                else
                {
                    <tr><td colspan="3">Er zijn geen afgesloten tickets...</td></tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
    @if (User.IsInRole("Customer"))
    {
        <div class="col-lg">
            <a href="Contract/" class="title-subtitle-link">
                <h2>
                    Contracten
                    <span>Alle contracten</span>
                </h2>
            </a>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Type</th>
                        <th scope="col">Startdatum</th>
                        <th scope="col">Einddatum</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ActiveContracts.Count > 0)
                    {
                        @foreach (var contract in Model.ActiveContracts)
                        {
                            <tr class="pointer-event" onclick="location.href = '@(Url.Action("Details", "Contract", new { id = @contract.Id }))'" style="cursor:pointer">
                                <th scope="row">@contract.Id</th>
                                <td>@contract.Type</td>
                                <td>@contract.ValidFrom.ToString("dd/MM/yyyy")</td>
                                <td>@contract.ValidTo.ToString("dd/MM/yyyy")</td>
                                <td style="color:@contract.StatusColor">@contract.Status</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="5">Er zijn geen actieve contracten...</td></tr>
                    }
                </tbody>
            </table>
        </div>
    }
    <div class="col-lg">
        <h2>Statistieken</h2>
        <p>Nog eens nagaan welke statistieken we willen tonen. Bijvoorbeeld:</p>
        <ul>
            <li>Totaal aantal tickets: 2</li>
            <li>Aantal openstaande tickets: 2</li>
            <li>Aantal gesloten tickets: 0</li>
            <li>Aantal tickets tijdig gesloten (SLA's): 0%</li>
        </ul>
    </div>
</div>
    <div class="row">
        <div class="col-12">
            <h2>&nbsp;</h2>
            <p><a href="FAQ">Raadplegen FAQ</a></p>
            <p><a href="FAQ">Andere links?</a></p>
        </div>
    </div>
</div>