@model TicketingSystem.RazorWebsite.Models.Reports.ReportViewModel
@{
    ViewData["Title"] = "Rapporten";
}

<h1>Rapporten</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Contracten verloop</h2>
            <div id="chart_OpenTickets" class="chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><p><a asp-action="Index">Terug naar overzicht rapporten</a></p></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load("current", { packages: ["timeline"], language: 'nl' });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Contract' });
        dataTable.addColumn({ type: 'string', id: 'dummy bar label' });
        dataTable.addColumn({ type: 'string', role: 'tooltip' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });

        dataTable.addRows([
        @foreach (var contract in Model.Contracts)
        {
            @:["@contract.Type", null,
            @:'<strong><p>@contract.Client</p><p>@contract.Type</p></strong><hr><p>Start: @contract.ValidFrom.ToString("yyyy/MM/dd")</p><p>Einde: @contract.ValidTo.ToString("yyyy/MM/dd")</p>',
            @: new Date(@contract.ValidFrom.Year, @contract.ValidFrom.Month, @contract.ValidFrom.Day),
            @: new Date(@contract.ValidTo.Year, @contract.ValidTo.Month, @contract.ValidTo.Day)],
        }
        ]);

        var chart = new google.visualization.Timeline(document.getElementById('chart_OpenTickets'));
        chart.draw(dataTable);
        }

    // Resize chart when resizing window
    $(window).resize(function () {
        drawChart();
    });

</script>
