@model TicketingSystem.RazorWebsite.Models.Reports.ReportViewModel
@{
    ViewData["Title"] = "Rapporten";
}

<h1>Rapporten</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Verloop aantal openstaande tickets</h2>
            <div id="chart_OpenTickets" class="chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12"><p><strong>Gemiddelde oplossingstijd:</strong> @Model.AverageSolveTime</p></div>
    </div>
    <div class="row">
        <div class="col-12"><p><a asp-action="Index">Terug naar overzicht rapporten</a></p></div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', { 'packages': ['corechart'], language: 'nl' });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ["Tijd", "Aantal", { role: "style" }],
            ["< 8 uur", @Model.TicketSolveTimeCount[0], "#D5F5E3"],
            ["< 1 dag", @Model.TicketSolveTimeCount[1], "#FCF3CF"],
            ["1-5 dagen", @Model.TicketSolveTimeCount[2], "#FAD7A0"],
            ["> 5 dagen", @Model.TicketSolveTimeCount[3], "#E59866"]
        ]);

        var options = {
            title: "Oplossingstijden: aantal tickets",
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_OpenTickets'));
        chart.draw(data, options);
    }

    // Resize chart when resizing window
    $(window).resize(function () {
        drawChart();
    });

</script>
